definitions:
    rejected_transactions_connection:
        executable: dfesp_esp_adapter
        publishurl: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/LoginRejectedTransactionsCombination/cq1/ReadRejTrans
        subscribeurl: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/RejectedTransactions/cq1/FilterAmount100?snapshot=true?collapse=true
    banking_logins_connection:
        executable: dfesp_esp_adapter
        publishurl: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/LoginRejectedTransactionsCombination/cq1/ReadLoginAtt
        subscribeurl: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/FrequentElectronicBankingLogins/cq1/at_least_two?snapshot=true?collapse=true
    tracking_canceled_authorizations:
        executable: dfesp_kafka_adapter
        type: pub
        url: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/RejectedTransactions/cq1/read_transaction
        kafkahostport: "{{ kafka_brokers }}"
        kafkaconsumergroupid: "SAS_ESP_consumer_RT"
        kafkatopic: "{{ kafka_tracking_card_canceled_authorizations_topic }}"
        kafkatype: avro
        urlhostport: "{{ esp_urlhostport }}"
        kafkaglobalconfig: "'retries=3;socket.max.fails=5;security.protocol=SASL_SSL;sasl.mechanism=PLAIN;ssl.ca.location={{ kafka_ssl_ca }};ssl.certificate.location={{ kafka_ssl_cert }};ssl.key.location={{ kafka_ssl_key }};sasl.username={{ kafka_sasl_user }};sasl.password={{ kafka_sasl_pass }}'"
        avroschemaregistryurl: "{{ kafka_avro_schemaregistry }}"
        transactional: true
        kafkainitialoffset: "largest"
    select_cust_at_start:
        executable: dfesp_db_adapter
        type: pub
        url: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/RejectedTransactions/cq1/db_conn
        selectstatement: "'select CIF, CST_ID from RT_CMDM.RKP_CUSTOMER_RT_V where CIF is not null and CST_ID is not null'"
        connectstring: "'DSN=RT;uid=RT_USR;pwd={{ db_rt_usr_pass }}'"
        publishwithupsert: true
    select_cif:
        executable: dfesp_db_adapter
        type: pub
        url: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/RejectedTransactions/cq1/db_conn
        selectstatement: "'select CIF, CST_ID from RT_CMDM.RKP_CUSTOMER_RT_V where CIF is not null and CST_ID is not null'"
        repeatinterval: "5400"
        connectstring: "'DSN=RT;uid=RT_USR;pwd={{ db_rt_usr_pass }}'"
        publishwithupsert: true
    store_rejected_transaction_event:
        executable: dfesp_db_adapter
        type: sub
        url: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/RejectedTransactions/cq1/create_out_scheme?snapshot=true
        connectstring: "'DSN=RT;uid=RT_USR;pwd={{ db_rt_usr_pass }}'"
        desttablename: "RT_EVENT.ESP_LOAD_RSE_EVENT_RT"
    tracking_login_success:
        executable: dfesp_kafka_adapter
        type: pub
        url: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/FrequentElectronicBankingLogins/cq1/read_auth
        kafkahostport: "{{ kafka_brokers }}"
        kafkaconsumergroupid: "SAS_ESP_consumer_FEBL"
        kafkatopic: "{{ kafka_tracking_login_success_topic }}"
        kafkatype: avro
        urlhostport: "{{ esp_urlhostport }}"
        kafkaglobalconfig: "'retries=3;socket.max.fails=5;security.protocol=SASL_SSL;sasl.mechanism=PLAIN;ssl.ca.location={{ kafka_ssl_ca }};ssl.certificate.location={{ kafka_ssl_cert }};ssl.key.location={{ kafka_ssl_key }};sasl.username={{ kafka_sasl_user }};sasl.password={{ kafka_sasl_pass }}'"
        avroschemaregistryurl: "{{ kafka_avro_schemaregistry }}"
        transactional: true
        kafkainitialoffset: "largest"
    store_rejected_trans_event:
        executable: dfesp_db_adapter
        type: sub
        url: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/LoginRejectedTransactionsCombination/cq1/CreateOutput?snapshot=true
        connectstring: "'DSN=RT;uid=RT_USR;pwd={{ db_rt_usr_pass }}'"
        desttablename: "RT_EVENT.ESP_LOAD_RSE_EVENT_RT"
    be_log_connection_to_mas_connector:
        executable: dfesp_esp_adapter
        publishurl: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/sendBusinessEvent/cq1/read_data
        subscribeurl: dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/FrequentElectronicBankingLogins/cq1/create_out_scheme?snapshot=true?collapse=true
    rest_connector_mas1:
        executable: dfesp_rest_subscriber
        url: "dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/sendBusinessEvent/cq1/ExportOnLeg1?snapshot=true"
        resturl: "{{ mas1_url }}/modules/handlebusinessevent_v1/steps/execute"
        httpcontenttype: "application/json"
        opaquejson: "json_message"
        tokeneventfield: "access_token"
        maxnumthreads: "3"
    rest_connector_mas2:
        executable: dfesp_rest_subscriber
        url: "dfESP://{{ esp_hostname }}:31416?username={{ esp_adapter_user }}/sendBusinessEvent/cq1/ExportOnLeg2?snapshot=true"
        resturl: "{{ mas2_url }}/modules/handlebusinessevent_v1/steps/execute"
        httpcontenttype: "application/json"
        opaquejson: "json_message"
        tokeneventfield: "access_token"
        maxnumthreads: "3"
orchestration:
    standby:
        rejected_transactions_connection: RUNNING
        banking_logins_connection: RUNNING
        be_log_connection_to_mas_connector: RUNNING
        store_rejected_transaction_event: RUNNING
        store_rejected_trans_event: RUNNING
        rest_connector_mas1: RUNNING
        rest_connector_mas2: RUNNING
        select_cust_at_start: FINISHED
        select_cif: RUNNING
    active:
        tracking_canceled_authorizations: RUNNING
        tracking_login_success: RUNNING
