# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Config file automatic generated using kafka.properties template from Ansible
# More information available at: https://github.com/macunha1/confluent-kafka-role

############################# Server Basics #############################

delete.topic.enable={{ delete_topic_enable }}
reserved.broker.max.id={{ reserved_broker_max }}
auto.create.topics.enable={{ auto_create_topics }}
offsets.topic.replication.factor={{ offsets_replication_factor }}
default.replication.factor={{ default_replication_factor }}
min.insync.replicas={{ min_insync_replicas }}

############################# Socket Server Settings #############################

advertised.listeners=PLAINTEXT://{{ kafka_ip }}:{{ kafka_plaintext_port }},SSL://{{ kafka_ip }}:{{ kafka_security_port }}
listeners=PLAINTEXT://{{ kafka_ip }}:{{ kafka_plaintext_port }},SSL://{{ kafka_ip }}:{{ kafka_security_port }}

# The number of threads handling network requests
num.network.threads={{ num_network_threads }}

# The number of threads doing disk I/O
num.io.threads={{ num_io_threads }}

# The send buffer (SO_SNDBUF) used by the socket server
socket.send.buffer.bytes={{ socket_send_buffer_bytes }}

# The receive buffer (SO_RCVBUF) used by the socket server
socket.receive.buffer.bytes={{ socket_receive_buffer_bytes }}

# The maximum size of a request that the socket server will accept (protection against OOM)
socket.request.max.bytes={{ socket_request_max_bytes }}


############################# Log Basics #############################

# A comma seperated list of directories under which to store log files
log.dirs={{ log_dir }}

# The default number of log partitions per topic. More partitions allow greater
# parallelism for consumption, but this will also result in more files across
# the brokers.
num.partitions={{ num_partitions }}

# The number of threads per data directory to be used for log recovery at startup and flushing at shutdown.
# This value is recommended to be increased for installations with data dirs located in RAID array.
num.recovery.threads.per.data.dir={{ num_recovery_threads_per_data_dir }}

############################# Log Retention Policy #############################

# The minimum age of a log file to be eligible for deletion
log.retention.hours={{ log_retention_hours }}

# A size-based retention policy for logs. Segments are pruned from the log as long as the remaining
# segments don't drop below log.retention.bytes.
log.retention.bytes={{ log_retention_bytes }}

# The maximum size of a log segment file. When this size is reached a new log segment will be created.
log.segment.bytes={{ log_segment_bytes }}

# The interval at which log segments are checked to see if they can be deleted according
# to the retention policies
log.retention.check.interval.ms={{ log_retention_check_interval_ms }}

############################# Zookeeper #############################

zookeeper.connect={{ zookeeper_connect }}
zookeeper.connection.timeout.ms={{ zookeeper_connection_timeout }}

##################### Confluent Proactive Support ######################

confluent.support.metrics.enable={{ confluent_support_metrics_enable }}
confluent.support.customer.id={{ confluent_support_customer_id }}

################## Security SSL Cert and Private Key ##################
{% if 'ssl' in (tags | default([])) %}

security.inter.broker.protocol=SSL
ssl.truststore.location={{ ssl.path }}/{{ kafka_security.server.truststore }}
ssl.truststore.password={{ keypass }}

{% endif %}
