path "{{ vault_secrets_mount }}/metadata/{{ vault_secrets_path }}/" {
	capabilities = ["list"]
}

path "{{ vault_secrets_mount }}/metadata/{{ vault_secrets_path }}/*" {
	capabilities = ["read", "update", "delete", "list"]
}

path "{{ vault_secrets_mount }}/data/{{ vault_secrets_path }}/*" {
	capabilities = ["read", "create", "update", "delete"]
}