<url-connector>
    <url-publishers>
        <url-publisher name="token">
            <requests>
                <request method="post">
                    <url>https://test-sas-ici-viya-core-service.gnb.adm/SASLogon/oauth/token/SASLogon/oauth/token</url>
                    <headers>
                        <header name="Accept">application/json</header>
                        <header name="Content-Type">application/x-www-form-urlencoded</header>
                    </headers>
                    <data><![CDATA[client_id=sas.ec&client_secret=&grant_type=password&username={{ srvici_user }}&password={{ srvici_pass }}]]></data>
                </request>
            </requests>
            <opcode>upsert</opcode>
            <generate>0</generate>
            <event-loops>
                <event-loop-json name="loop">
                    <use-json>#_content</use-json>
                    <json>..</json>
                    <function-context>
                        <functions>
                            <function name='access_token'>string(json(#_context,'access_token'))</function>
							<function name='token_type'>string(json(#_context,'token_type'))</function>
							<function name='id_token'>string(json(#_context,'id_token'))</function>
							<function name='expires_in'>number(json(#_context,'expires_in'))</function>
							<function name='id_for_join'>number("1")</function>
                        </functions>
                    </function-context>
                </event-loop-json>
            </event-loops>
        </url-publisher>
    </url-publishers>
</url-connector>