frontend infradb
bind {{ INFRA_VIP }}:5432
mode tcp
option tcplog
default_backend infradb-backend

backend infradb-backend
option httpchk GET /healthz
http-check expect status 200
mode tcp
option ssl-hello-chk
balance roundrobin
  server infradb1 {{ infra_addr1 }}:5432 check fall 3 rise 2
  server infradb2 {{ infra_addr2 }}:5432 check fall 3 rise 2
  server infradb3 {{ infra_addr3 }}:5432 check fall 3 rise 2