vrrp_script check_apiserver {
    script "/etc/keepalived/check_apiserver.sh"
    interval 3
    timeout 10
    fall 5
    rise 2
    weight -2
  }
  
  vrrp_instance VI_1 {
      state BACKUP
      interface {{ VLAN }} 
      virtual_router_id 1
      priority 100
      advert_int 5
      authentication {
          auth_type PASS
          auth_pass mysecret
      }
      virtual_ipaddress {
          {{ VIP }}
      }
      track_script {
          check_apiserver
      }
  }
