# This is the network config written by 'subiquity'
network:
  version: 2
  renderer: networkd
  ethernets:
    enp3s0: {}
    enp4s0: {}
    enp7s0f0: {}
    enp7s0f1: {}
    enp8s0f0: {}
    enp8s0f1: {}
  bonds:
    bond-iscsi:
      addresses:
      - 10.20.0.{{num}}/24
      interfaces:
      - enp8s0f0
      - enp8s0f1
      parameters:
        mode: balance-rr
      routes:
        - to: 10.20.0.0/24
          via: 0.0.0.0
      routing-policy:
        - from: 10.20.0.{{num}}
    bond-mgmt:
      addresses:
      - 10.10.11.{{num}}/24
      gateway4: 10.10.11.1
      interfaces:
      - enp3s0
      - enp4s0
      nameservers:
        addresses:
        - 10.10.10.2
        - 10.10.2.2
        search:
        - netrix.local
      parameters:
        mode: balance-rr
      routes:
        - to: 10.10.11.0/24
          via: 0.0.0.0
      routing-policy:
        - from: 10.10.11.{{num}}
    bond0:
      interfaces:
      - enp7s0f0
      - enp7s0f1
      parameters:
        mode: balance-rr
  bridges:
    br0:
      dhcp4: false
      addresses:
      -  10.10.99.{{num}}/24
      interfaces:
        - bond0
      nameservers:
        addresses:
        - 8.8.8.8
        - 10.10.10.2
        - 10.10.2.2
      mtu: 1500
      parameters:
        forward-delay: 15
        stp: false