[Match]
Name=bond-mgmt

[Network]
LinkLocalAddressing=ipv6
Address={{ ip }}/24
Gateway=10.10.11.1
DNS=10.10.10.2
DNS=10.10.2.2
DNS=10.10.10.2
DNS=10.10.2.2
Domains=netrix.local netrix.local
ConfigureWithoutCarrier=yes
