[Match]
Name=br0

[Link]
MTUBytes=1500

[Network]
LinkLocalAddressing=ipv6
Address=10.10.99.{{num}}/24
DNS=8.8.8.8
DNS=1.1.1.1
ConfigureWithoutCarrier=yes

[Route]
Destination=0.0.0.0/0
Gateway=10.10.11.1
Table=99

[Route]
Destination=10.10.99.{{num}}/24
Gateway=0.0.0.0
Table=99

[RoutingPolicyRule]
From=10.10.99.{{num}}
Table=99