global
    maxconn 100
    tune.ssl.default-dh-param 2048
    #log 127.0.0.1:514  local0

defaults
    mode http
    retries 2
    timeout client 1m
    timeout connect 20s
    timeout server 1m
    timeout check 20s
    option http-server-close
    option httplog
    option forwardfor if-none
    option http-keep-alive
{% if (maas_proxy_bind_addr_v4 is defined) and (maas_proxy_bind_addr_v4) %}

frontend maas_region_controller-v4-ssl
    bind {{ maas_proxy_bind_addr_v4 }}:{{ maas_https_port }} ssl crt /etc/ssl/private/maas_tls.pem
    default_backend maas_region_controllers-tls

{% endif %}

{% if (maas_proxy_bind_addr_v4 is defined) and (maas_proxy_bind_addr_v4) %}

frontend maas_region_controller-v4
    mode tcp
    bind {{ maas_proxy_bind_addr_v4 }}:{{ maas_proxy_port }}
    use_backend maas_region_controllers

{% endif %}

backend maas_region_controllers-tls
    option redispatch 2
    balance source
    hash-type consistent
{% if maas_proxy_upstreams %}
    {% for upstream in maas_proxy_upstreams %}
    server {{ upstream['hostname'] }} {{ upstream['ip'] }}:{{ upstream['ssl_port'] }} ssl verify none 
    {% endfor %}
{% else %}
    {% for upstream in groups['maas_region_controller'] %}
        {% if ('ansible_default_ipv4' in hostvars[upstream]) and ('address' in hostvars[upstream]['ansible_default_ipv4']) %}
    server {{ hostvars[upstream]['ansible_hostname'] }} {{ hostvars[upstream]['ansible_default_ipv4']['address'] }}:{{ upstream['ssl_port'] }} ssl verify none 
        {% endif %}
        {% if ('ansible_default_ipv6' in hostvars[upstream]) and ('address' in hostvars[upstream]['ansible_default_ipv6']) %}
    server {{ hostvars[upstream]['ansible_hostname'] }} {{ hostvars[upstream]['ansible_default_ipv6']['address'] }}:{{ upstream['ssl_port'] }} ssl verify none
        {% endif %}
    {% endfor %}
{% endif %}

backend maas_region_controllers
    balance roundrobin
{% if maas_proxy_upstreams %}
    {% for upstream in maas_proxy_upstreams %}
    server {{ upstream['hostname'] }} {{ upstream['ip'] }}:{{ upstream['port'] }}
    {% endfor %}
{% else %}
    {% for upstream in groups['maas_region_controller'] %}
        {% if ('ansible_default_ipv4' in hostvars[upstream]) and ('address' in hostvars[upstream]['ansible_default_ipv4']) %}
    server {{ hostvars[upstream]['ansible_hostname'] }} {{ hostvars[upstream]['ansible_default_ipv4']['address'] }}:5240
        {% endif %}
        {% if ('ansible_default_ipv6' in hostvars[upstream]) and ('address' in hostvars[upstream]['ansible_default_ipv6']) %}
    server {{ hostvars[upstream]['ansible_hostname'] }} {{ hostvars[upstream]['ansible_default_ipv6']['address'] }}:5240
        {% endif %}
    {% endfor %}
{% endif %}

{% if maas_proxy_postgres_proxy_enabled %}
    {% if (maas_proxy_postgres_bind_addr_v4 is defined) and (maas_proxy_postgres_bind_addr_v4) %}

frontend maas-postgres-v4
    mode tcp
    bind {{ maas_proxy_postgres_bind_addr_v4 }}:{{ maas_proxy_postgres_port }}
    use_backend maas-postgres

    {% endif %}

    {% if (maas_proxy_postgres_bind_addr_v6 is defined) and (maas_proxy_postgres_bind_addr_v6) %}

frontend maas-postgres-v6
    mode tcp
    bind {{ maas_proxy_postgres_bind_addr_v6 }}:{{ maas_proxy_postgres_port }}
    use_backend maas-postgres

    {% endif %}

backend maas-postgres
    {% if maas_proxy_postgres_upstreams %}
        {% for upstream in maas_proxy_postgres_upstreams %}
    server {{ upstream['hostname'] }} {{ upstream['ip'] }}:{{ upstream['port'] }}
        {% endfor %}
    {% else %}
        {% for pg in groups['maas_postgres'] %}
            {% if ('ansible_default_ipv4' in hostvars[pg]) and ('address' in hostvars[pg]['ansible_default_ipv4']) %}
    server {{ hostvars[pg]['ansible_hostname'] }} {{ hostvars[pg]['ansible_default_ipv4']['address'] }}:5432
            {% endif %}
            {% if ('ansible_default_ipv6' in hostvars[pg]) and ('address' in hostvars[pg]['ansible_default_ipv6']) %}
    server {{ hostvars[pg]['ansible_hostname'] }} {{ hostvars[pg]['ansible_default_ipv6']['address'] }}:5432
            {% endif %}
        {% endfor %}
    {% endif %}

{% endif %}
